@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Style scrollbar only for a div with class 'custom-scroll' */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
  overflow: auto; /* Make sure it has overflow and a height/width */
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

